<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h2 class="mb-4 text-center">Employee Profile</h2>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="${user.address}"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td th:text="${user.getPhone()}"></td>
                </tr>
            </table>
            <h3 class="mt-4">Categories</h3>
            <ul>
                <li th:each="category : ${categories}" th:text="${category.type}"></li>
            </ul>
            <h3 class="mt-4">Visits</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Service Type</th>
                    <th>Visitor</th>
                    <th>Pets</th>
                    <th>Result</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="visit : ${#lists.sort(visits)}">
                    <td th:text="${#temporals.format(visit.timeSlot.startTime, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${visit.serviceType.getName()}"></td>
                    <td>
                        <a th:href="@{'/visitors/' + ${visit.visitor.userId}}"
                            th:text="${visit.visitor.user.firstName + ' ' + visit.visitor.user.lastName}">View</a>
                    </td>
                    <td>
                        <div th:each="pet : ${visit.pets}">
                            <a th:href="@{/pets/__${pet.id}__}" th:text="${pet.name}"></a>
                            <span th:if="${!petStat.last}">, </span>
                        </div>
                    </td>
                    <td th:text="${visit.result != null ? visit.result : 'No result yet'}"></td>
                    <td>
                        <form th:action="@{/visit/__${visit.id}__/result}" method="post">
                            <input type="text" th:name="result" th:id="${visitStat.index}"
                                   style="display: none;">
                            <button class="btn btn-info m-1" type="button" onclick="this.previousElementSibling.style.display='block';
                                       this.nextElementSibling.style.display='block'; this.style.display='none';">Modify Result</button>
                            <button class="btn btn-info m-1" type="submit" style="display: none;">Submit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
