<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand m-2 p-2" th:href="@{/}">VetClinic</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-2" sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-dark" th:href="@{'/profile/' + ${#authentication.principal.id}}">
                        My profile
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <div class="nav-item me-2" sec:authorize="isAuthenticated()">
                    <form th:action="@{/service/search}" method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control m-2" placeholder="Search for services..."
                                   name="serviceNamePart">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary m-2" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <li class="nav-item me-2" sec:authorize="isAnonymous()">
                    <a class="btn btn-primary" th:href="@{/login}">Sign In</a>
                </li>
                <li class="nav-item me-2" sec:authorize="isAnonymous()">
                    <a class="btn btn-success" th:href="@{/register}">Sign Up</a>
                </li>
                <li class="nav-item me-2" sec:authorize="isAuthenticated()">
                    <p class="nav-link">
                        <span>Hi, <span sec:authentication="name"></span>!</span>
                    </p>
                </li>
                <li class="nav-item me-2" sec:authorize="isAuthenticated()">
                    <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>